@media screen and (max-width: 767px) {
}
@media (min-width: 768px) {
}
@media (min-width: 768px) {
}
@media (max-width: 767px) {
}
@media (min-width: 768px) {
}
@media (min-width: 768px) {
}
@media (max-width: 767px) {
}
@media (max-width: 767px) {
}
body:before,
body:after,
body > header:before,
body > header:after,
body > div:before,
body > div:after,
dl:before,
dl:after {
  content: " ";
  display: table;
}
body:after,
body > header:after,
body > div:after,
dl:after {
  clear: both;
}
h1 {
  margin: 20px 0;
}
a {
  color: #608fbf;
  text-decoration: none;
}
a:hover {
  border-radius: 3px;
  background: rgba(96, 143, 191, 0.06);
  color: #4d83b8;
  text-decoration: none;
}
:target {
  border: 1px solid red;
}
code,
pre {
  background: rgba(96, 143, 191, 0.06);
}
sup {
  font-size: 2rem;
  color: red;
  vertical-align: bottom;
}
ul.plain {
  margin: 0;
  padding: 0;
  list-style: none;
}
body {
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
  color: #3e4348;
  background: rgba(96, 143, 191, 0.06);
  font-family: 'open sans', helvetica, arial, sans-serif;
}
body > .navbar-header,
body > .navbar-collapse {
  margin-right: -15px;
  margin-left: -15px;
}
@media (min-width: 768px) {
  body > .navbar-header,
  body > .navbar-collapse {
    margin-right: 0;
    margin-left: 0;
  }
}
body > header {
  margin-left: -15px;
  margin-right: -15px;
  background: #608fbf;
  text-align: center;
  overflow: auto;
}
body > header a {
  color: rgba(255, 255, 255, 0.85);
  text-shadow: 1px 3px #4d83b8;
}
body > header a:hover {
  background: none;
  color: rgba(255, 255, 255, 0.95);
}
body > div {
  margin-left: -15px;
  margin-right: -15px;
}
nav {
  position: relative;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
  padding-bottom: 2rem;
}
@media (min-width: 768px) {
  nav {
    right: 75%;
  }
}
@media (min-width: 768px) {
  nav {
    float: left;
    width: 25%;
  }
}
@media (min-width: 992px) {
  nav {
    right: 83.33333333%;
  }
}
@media (min-width: 992px) {
  nav {
    float: left;
    width: 16.66666667%;
  }
}
nav h1 {
  font-size: 2rem;
  text-transform: uppercase;
}
nav a {
  display: block;
  padding: .3rem .6rem;
}
main {
  position: relative;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
  background: white;
  overflow: auto;
}
@media (min-width: 768px) {
  main {
    left: 25%;
  }
}
@media (min-width: 768px) {
  main {
    float: left;
    width: 75%;
  }
}
@media (min-width: 992px) {
  main {
    left: 16.66666667%;
  }
}
@media (min-width: 992px) {
  main {
    float: left;
    width: 83.33333333%;
  }
}
main header,
main section,
section > div {
  margin-bottom: 3rem;
}
section > dl {
  margin-top: 20px;
}
main header p,
main header ul {
  font-size: 120%;
}
main header ul {
  padding: 0;
  list-style: none;
}
main header ul > li {
  display: inline-block;
  margin-right: 1rem;
  position: relative;
}
main header ul ul {
  display: none;
  position: absolute;
  left: 0;
  top: 100%;
  background: #fff;
  border: 1px solid #878f98;
  z-index: 100;
  padding: 10px;
}
main header ul ul li {
  display: block;
  line-height: 1;
}
main header ul ul a {
  font-size: 1.5rem;
}
main header ul ul ul {
  top: 0;
  left: 100%;
}
main header ul li:hover > ul {
  display: block;
}
dl {
  margin-left: -15px;
  margin-right: -15px;
}
dl div {
  margin: 0 15px;
  padding-top: 1.5rem;
  overflow: auto;
}
dl div:nth-child(2n+1) {
  background: rgba(96, 143, 191, 0.06);
}
dl div div:nth-child(2n+2) {
  background: #fff;
}
dt {
  position: relative;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
  clear: left;
  color: #878f98;
  font-weight: normal;
}
@media (min-width: 992px) {
  dt {
    float: left;
    width: 25%;
  }
}
@media (min-width: 1200px) {
  dt {
    float: left;
    width: 16.66666667%;
  }
}
dt strong {
  display: block;
  color: #3e4348;
}
dt span {
  display: block;
}
dd {
  position: relative;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
}
@media (min-width: 992px) {
  dd {
    float: left;
    width: 75%;
  }
}
@media (min-width: 1200px) {
  dd {
    float: left;
    width: 83.33333333%;
  }
}
dt,
dd {
  margin-bottom: 1rem;
}
.hljs-tag,
.hljs-built_in {
  color: #a6326c;
}
.hljs-attribute {
  color: #4747b3;
}
.hljs-value,
.hljs-string {
  color: #42a642;
}
.hljs-number {
  color: #00b3b3;
}
.hljs-literal,
.hljs-keyword {
  color: #e66d45;
}
